@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .preserve-3d {
    transform-style: preserve-3d;
  }

  .backface-hidden {
    backface-visibility: hidden;
  }

  .rotate-y-180 {
    transform: rotateY(180deg);
  }

  .text-outline {
    -webkit-text-stroke: 1px white;
    color: transparent;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
  color: #ffffff;
}

@layer utilities {

  /* This makes the lanyard swing */
  @keyframes swing {
    0% {
      transform: rotate(3.5deg);
    }

    50% {
      transform: rotate(-3.5deg);
    }

    100% {
      transform: rotate(3.5deg);
    }
  }

  .animate-swing {
    transform-origin: top center;
    animation: swing 3s ease-in-out infinite;
  }

  /* Fade from black and white to color */
  @keyframes fadeToColor {
    0% {
      filter: grayscale(100%);
      opacity: 0.7;
    }

    100% {
      filter: grayscale(0%);
      opacity: 1;
    }
  }

  .animate-fade-to-color {
    animation: fadeToColor 2s ease-in-out forwards;
  }
}